.home {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-icono {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.logoSESECC {
  height: 60vmin;
  pointer-events: none;
  margin-top: 10vmin;
  margin-bottom: 12vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sectionejem{
  color: bisque;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  background-color: cadetblue;
  height: 100vh;
}

.navBg{
  color: blueviolet;
}
.navdiv{
  background-color: #46AAA6;
  color: white;
}
#mision{
  background-color: #27CCAC;
  color: white;
}
.dependencias a {
  color: white;
}

.footer{
  background-color: #46AAA6;
}